body
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: Verdana;
}

header{
    background-color: #101010;
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    color: white;
    
}

#log{
    margin: 30px;
    font-size: x-large;
    background-color: white;
    border-radius:6px;
    color: black;
    border: thick;
    display: initial;
}

.clickable:hover{

    background: linear-gradient(white, #AAA);
}

.clickable:active{

    background: radial-gradient(#CCC, #AAA);

}

.hidden{
    display: none;
    visibility: hidden;
}

.visible{
    visibility: visible;
}

#log-begin{

    background-color: white;
    border-radius:6px;
    color: black;
    border: thick;
    margin: 10px;
    height: 30px;
    width: 300px;
}

body #login-box{
    background-color: #AAA;
    margin: 100px 0px;
    padding: 0px;
    text-align: center;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 1px;
}

#login-text{
    color: white;
    padding:10px;
    margin: 0px;
    padding-bottom: 10px;
    background-color: #101010;
}

body #login-button{
    border: thick;
    margin: 10px;
    border-radius: 6px;
    height: 30px;
    width: 300px;
}

#log-menu{
    padding: 10px;
}

#admin-panel{
    float: left;
    list-style-type: none;
    margin-top: 10px;
    padding: 0;
    color: white;
    width: 200px;
}

#admin-panel > input{
    background-color: white;
    margin-top: 10px;
    border-radius: 6px;
    height: 30px;
    width: 300px;
}

#group-window{
    float: left;
    border-style: solid;
    border-width: 6px;
    margin-left: 300px;
    margin-top: 10px;
}

#group-create{
    float left;
    margin-top: 10px;
    padding: 0;
    color: #101010;
    list-style-type: none;
    margin-left: 350px;
    width: 200px;
    padding: 10px;
    border-style: solid;
    border-width: 1px;

}

#group-box{
    width: 200px;
    height: 30px;
}
#new-group{
    width: 200px;
    height: 30px;
}