body
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: Verdana;
}

header{
    background-color: #101010;
    
    font-size: xx-large;
    font-weight: bolder;
    color: white;
    
}

header > p{
    margin: 0px;
    padding: 0px;
    display: initial;
    vertical-align: bottom;
}

#log{
    background-color: black;
    color: white;
    margin-bottom: 3px;
    height: 30px;
    border: none;
}

.clickable:hover{

    background: radial-gradient(#CCC, #CCC);
}

.clickable:active{

    background: linear-gradient(#AAA, #AAA);

}

.hidden{
    display: none;
    visibility: hidden;
}

.visible{
    visibility: visible;
}

#log-begin{

    background-color: white;
    border-radius:1px;
    color: black;
    border: thick;
    margin: 3px 0px;
    height: 30px;
    width: 67px;
}

body #login-box{
    background-color: #AAA;
    font-size: small;
    padding: 0px;
    position: absolute;
    width: 380px;
    margin: 3px;
}

#login-text{
    color: white;
    padding:3px;
    margin: 0px;
    padding-bottom: 10px;
    background-color: #101010;
}

body #login-button{
    border: thick;
    margin: 3px 0px;
    margin-left: 3px;
    border-radius: 1px;
    height: 30px;
    width: 300px;
}

#admin-panel{
   
    list-style-type: none;
    color: white;
    display: initial;
}

#admin-panel > input{
    background-color: black;
    color: white;
    margin-bottom: 3px;
    height: 30px;
    border: none;


#group-window{
    float: left;
    border-style: solid;
    border-width: 6px;
    margin-left: 300px;
    margin-top: 10px;
    border-color: black;
}

#group-create{
    float left;
    margin-top: 10px;
    padding: 0;
    color: #101010;
    list-style-type: none;
    margin-left: 350px;
    width: 200px;
    padding: 10px;
    border-style: solid;
    border-width: 1px;

}

#group-box{
    width: 200px;
    height: 30px;
    margin-bottom: 10px;
}
#new-group{
    width: 200px;
    height: 30px;
    margin-top: 10px;
}

#box{
    z-index: 10;
	opacity: 0.7;
	background-color:#000000;
	position:fixed; top:0px; left:0px; width:100%; height:100%; color:#FFFFFF; text-align:center; vertical-align:middle;
}

#content{
    z-index: 11;
    position:fixed;
    top:10%;
    left: 40%;
    background-color: black;
    opacity: 1;
    margin: 100px 0px;
    padding: 0px;
    text-align: center;
    width: 20%;
    height: 20%;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    color: white;
}